<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Психологические тесты</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/application.css">
</head>

<body>

  <div class="page-wrap after">
    <div class="header-container b__s">
      <div class="header !_z-[101]">
        <div class="header__overlay"></div>
        <div class="container">
          <div class="row header__row flex-nowrap">
            <div class="col-auto col-lg-2">
              <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imgs/logo.svg') }}" class="header__logo">
              </a>
            </div>
            <div class="col px-0">
              <nav class="navbar navbar-expand navbar-light justify-content-center p-0">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="/feedback" target="_blank" class="nav-link">Обратная связь</a>
                  </li>
                  <li class="nav-item">
                    <a href="/certificats" target="_blank" class="nav-link" >Сертификаты</a>
                  </li>
                  <li class="nav-item">
                    <a href="/tests" class="nav-link">
                      <div>Психологические тесты</div>
                    </a>
                  </li>
                  <li class="nav-item d-sm-none">
                    <a class="nav-link header__link" href="/auth">Вход</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-auto col-lg-3">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <div class="header__actions">
                    <a class="nav-link header__link" href="/auth">
                      <svg class="icon icon-lock header__link-icon">
                        <use xlink:href="#lock"></use>
                      </svg>
                      Вход
                    </a>
                    <a class="header__btn text-nowrap" href="/auth/signup">Регистрация&nbsp;</a>
                  </div>
                  <button class="header__menu-btn" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a target="_blank" class="dropdown-item" href="#">Для психологов</a>
                    <a target="_blank" class="dropdown-item" href="#">Для бизнеса</a>
                    <a class="dropdown-item" href="/tests">Психологические тесты</a>
                    <a class="dropdown-item" href="/blog">Блог</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-page">
      <section class="css-reset banner">
        <div class="container">
          <div class="banner__content">
            <h1 class="banner__title-h1">Психологические тесты</h1>
            <h2 class="banner__title">Пройдите тесты и узнайте больше о себе</h2>
            <div class="banner__actions">
              <a class="banner__btn ysn-main-page-button" href="/tests/psihologicheskie-rasstroystva">Пройти тесты</a>
            </div>
          </div>
        </div>
      </section>

      <section class="css-reset tests">
        <div class="container">
          <div class="tests__content">
            <h2 class="tests__title">Выберите тест:</h2>
            <div class="ysn-grid-without-outer-padding js-test-tests-container">
              <!-- Первая карточка -->
              <div class="test-card">
                <a href="/tests/psihologicheskie-rasstroystva" class="test-link">
                  <img src="https://uploads.yasno.live/uploads/psy_test/cover_photo/201/thumb_2x_ОПЕНЕР.png" alt="Тест на психологические расстройства" class="test-image">
                  <div class="test-title">
                    Тест на психологические расстройства (опросник Александровича)
                  </div>
                  <div class="test-description">
                    За привычными ощущениями может скрываться фобия или ипохондрия. Пройдите тест и узнайте, что говорит о вас психика.
                  </div>
                  <div class="test-time">
                    3 минуты на прохождение
                  </div>
                </a>
              </div>

              <!-- Вторая карточка -->
              <div class="test-card">
                <a href="/tests/nevroz" class="test-link">
                  <img src="https://uploads.yasno.live/uploads/psy_test/cover_photo/200/thumb_2x_Опенер.png" alt="Тест на невроз" class="test-image">
                  <div class="test-title">
                    Тест на невроз
                  </div>
                  <div class="test-description">
                    Проверьте свое психоэмоциональное состояние.
                  </div>
                  <div class="test-time">
                    5 минут на прохождение
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>

</html>
